<!DOCTYPE html>
<html>
  <head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <div id="app">
      <section class="row">
        <div class="small-6 columns">
          <h1 class="text-center">YOU</h1>
          <div class="healthbar">
            <div
              class="healthbar text-center"
              style="background-color: green; margin: 0; color: white;"
              :style="{width: monsterHealthBarWith}"
            >
              {{ userHealth }}
            </div>
          </div>
        </div>
        <div class="small-6 columns">
          <h1 class="text-center">MONSTER</h1>
          <div class="healthbar">
            <div
              class="healthbar text-center"
              style="background-color: green; margin: 0; color: white;"
              :style="{width: monsterHealthBarWith}"
            >
              {{ monsterHealth }}
            </div>
          </div>
        </div>
      </section>
      <section v-if="!gameOn" class="row controls">
        <div class="small-12 columns">
          <button id="start-game" @click="resetGame">START NEW GAME</button>
        </div>
      </section>
      <section v-else class="row controls">
        <div class="small-12 columns">
          <button id="attack" @click="attack">ATTACK</button>
          <button id="special-attack">SPECIAL ATTACK</button>
          <button id="heal">HEAL</button>
          <button id="give-up" @click="endGame">GIVE UP</button>
        </div>
      </section>
      <section v-if="logs.length > 0" class="row log">
        <div class="small-12 columns">
          <ul v-for="log in logs">
            <li :class="getLogClass(log)">
              {{ log.source }} hits {{ log.target }} for {{ log.damage }}
            </li>
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>

<script>
  new Vue({
    el: '#app',
    data: {
      gameOn: false,
      userHealth: 100,
      monsterHealth: 100,
      logs: []
    },
    computed: {
      userHealthBarWidth: function() {
        return this.userHealth + '%';
      },
      monsterHealthBarWith: function() {
        return this.userHealth + '%';
      }
    },
    methods: {
      resetGame() {
        this.gameOn = true;
        this.logs = [];
        this.userHealth = 100;
        this.monsterHealth = 100;
      },
      endGame() {
        this.gameOn = false;
      },
      attack() {
        const userDamage = this.getRandomDamage();
        const monsterDamage = this.getRandomDamage();

        this.userHealth -= monsterDamage;
        this.monsterHealth -= userDamage;

        this.writeLog('monster', monsterDamage);
        this.writeLog('player', userDamage);
      },
      writeLog(source, damage) {
        console.log(damage);
        const target = source === 'monster' ? 'player' : 'monster';
        const log = { source: source, target: target, damage: damage };
        this.logs.push(log);
      },
      getRandomDamage() {
        return Math.floor(Math.random() * 10);
      },
      getLogClass: function(item) {
        if (item.source === 'player') {
          return 'player-turn';
        } else {
          return 'monster-turn';
        }
      }
    }
  });
</script>
